*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  margin: 50px auto;
}

.search,
.text {
  padding: 10px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
button {
  padding: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background-color: #111;
  border: 1px solid #fff;
  padding: 20px;
  width: 400px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.card img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.mini {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.p2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}